
<section id="bottom" class="wet-asphalt">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4>About Us</h4>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <p>Pellentesque habitant morbi tristique senectus.</p>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <h4>Company</h4>
        <div>
          <ul class="arrow">
            <li><a href="#">Company Overview</a></li>
            <li><a href="#">Meet The Team</a></li>
            <li><a href="#">Our Awesome Partners</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Frequently Asked Questions</a></li>
            <li><a href="#">Conatct Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Copyright</a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <h4>Latest Blog</h4>
        <div>
          <div class="media">
            <div class="pull-left">
              <img src="images/blog/thumb1.jpg" alt="">
            </div>
            <div class="media-body">
              <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
              <small class="muted">Posted 17 Aug 2013</small>
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <img src="images/blog/thumb2.jpg" alt="">
            </div>
            <div class="media-body">
              <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
              <small class="muted">Posted 13 Sep 2013</small>
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <img src="images/blog/thumb3.jpg" alt="">
            </div>
            <div class="media-body">
              <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
              <small class="muted">Posted 11 Jul 2013</small>
            </div>
          </div>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <h4>Address</h4>
        <address>
          <strong>Tucson Chinese Christian Church</strong><br>
          307 E. Helen Street<br>
          Tucson, AZ 87548<br>
          <abbr title="Phone">Phone:</abbr> (520) 792-1374
        </address>
        <h4>Email</h4>
        <a href="mailto:contact@tcccaz.org">contact@tcccaz.org</a>
      </div> <!--/.col-md-3-->
    </div>
  </div>
</section><!--/#bottom-->
