<section id="recent-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="scroller" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <% blog.articles[0..2].each do |article|  %>
                <div class="col-xs-4">
                  <div class="portfolio-item">
                    <div class="item-inner">
                      <h3>
                        <%= article.title %>
                      </h3>
                      <% if article.data.img_src %>
                        <img class="img-responsive" src="<%= article.data.img_src %>" width="650px"/>
                      <% else %>
                        <p><%= article.summary %></p>
                      <% end %>
                      <div class="overlay">
                        <a class="preview btn btn-info" href="<%= article.url %>" rel=""><i class="icon-eye-open"></i></a>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
                <% end %>
              </div><!--/.row-->
            </div><!--/.item-->
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</section><!--/#recent-works-->
