<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1626547154283147',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div class="widget facebook-fanpage">
  <h3>Facebook Page</h3>
  <div class="widget-content">
    <div class="fb-like-box" data-href="https://www.facebook.com/tcccaz" data-width="332" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>
</div>
