<div class="widget">
  <h3><%= I18n.t('sermon') %></h3>
  <iframe width="250" height="250" src="https://www.mixcloud.com/widget/follow/?u=https%3A%2F%2Fwww.mixcloud.com%2Ftccc%2F" frameborder="0"></iframe>
</div><!--/.tags-->
