<section id="about-us" class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>教會介紹</h2>

      <p class="lead">土桑華人基督教會成立於1992年。一開始由一群華人留學生組成查經班，當初約有十餘人借用第一浸信會場地聚會，2002年遷至現址，改名為土桑華人基督教會
        ，現聚會人數約百餘人。
      </p>
    </div>
    <!--/.col-sm-6-->
    <div class="col-sm-6">
      <h2>異象使命</h2>

      <div>
        <div class="alert alert-info text-center">
          <span class="h2">敬拜</span>
        </div>
        <div class="alert alert-danger text-center">
          <span class="h2">聖經</span>
        </div>
        <div class="alert alert-success text-center">
          <span class="h2">宣教</span>
        </div>
      </div>
    </div>
    <!--/.col-sm-6-->
  </div>
  <!--/.row-->

  <div class="gap"></div>

  <div class="row">
    <div class="col-sm-12">
      <h2>十週年</h2>
      <%= image_tag '10yrs.jpg', width: 800 %>
    </div>
    <!--/.col-sm-6-->

  </div>
  <!--/.row-->

</section><!--/#about-us-->

