    <%= partial "title", :locals => {:title => I18n.t(:contact_us)} %>

    <section id="contact-page" class="container">
      <div class="row">
        <div class="col-sm-8">
          <h4>教會地址</h4>
          <p>307 East Helen Street</p>
          <p>Tucson, AZ 85748</p>
          <p>(位於 Helen St. 和 5th Ave. U of A 往西第三个交通号志灯)</p>
        </div><!--/.col-sm-4-->

        <div class="col-sm-2">
          <h4>教會電話</h4>
          <p>(520) 792-1374</p>
        </div><!--/.col-sm-4-->

        <div class="col-sm-2">
          <h4>電子信箱</h4>
          <p><a href="mailto:contact@tcccaz.org">contact@tcccaz.org</a></p>
        </div><!--/.col-sm-4-->

      </div>

      <div class="row">

        <div class="col-sm-12">
          <h4><%= I18n.t(:our_location) %></h4>
          <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3374.762492061142!2d-110.967001!3d32.237561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d671111f4e4fe5%3A0xde935225b9da4edd!2s307+E+Helen+St%2C+Tucson%2C+AZ+85705!5e0!3m2!1sen!2sus!4v1437469884629" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!--/.col-sm-4-->
      </div>


    </section><!--/#contact-page-->

