<section id="about-us" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>家庭團契小組</h2>
      <hr>
      <p class="lead">由夫婦以家庭為單位所組成的團契。每週五於教會聚會。透過音樂敬拜、小組查經、專題講座、分享、祈禱、弟兄姊妹彼此建立及互相支持，
        體現主內擁有屬神生命及愛的教會生活。每次聚會期間，均由教會老師按照不同年紀及需要提供青年，兒童，及幼兒查經活動。歡迎參加</p>
      <p class="lead">Our church family consists of people of many nations, who all share a commitment to serve God and love one another.
        We purpose to bring people to Lord Jesus Christ, and develop them to Christlike maturity, and equip them for ministry in the church
        and life missions in the world, in order to magnify God's name. We invite you to join our family.</p>
    </div>
    <!--/.col-sm-6-->
    <div class="col-sm-4">
      <div class="gap"></div>
      <%= image_tag '/images/rays.jpg', width: 335 %>
    </div>
    <!--/.col-sm-6-->
  </div>
  <!--/.row-->

  <%= partial('related_news', :locals => {:articles => blog.tags['family']}) if blog.tags['family'] %>
  <div class="gap"></div>
</section><!--/#about-us-->

