
    <section id="about-us" class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>兒童事工</h2>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
            </div><!--/.col-sm-6-->
            <div class="col-sm-6">
                <h2>異象使命</h2>
                <div>
                    <div class="alert alert-info text-center">
                      <span class="h2">敬拜</span>
                    </div>
                  <div class="alert alert-danger text-center">
                    <span class="h2">聖經</span>
                    </div>
                  <div class="alert alert-success text-center">
                    <span class="h2">宣教</span>
                  </div>
                </div>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->

        <div class="gap"></div>

    </section><!--/#about-us-->

