<%= partial "title", :locals => {:title => I18n.t('header.beliefs')} %>
<section id="faqs" class="container">

  <h3>我们相信:</h3>
  <ul class="faq unstyled">
    <li>
      <span class="number">01</span>
      <div>
        <h4>神是自有永有的，祂創造宇宙萬物，乃是聖父，聖子，聖靈三位一體，又真又活的獨一真神（創 一26；出 二十 3；申 六 4；民 六24~26；賽 四十八 16；賽 六十三 7~10；太 十二 28；二十八 19；路 三 22；約 一32; 十四 25~31；十五 26~27；林後 十三 14）。
        </h4>
        </div>
    </li>
    <li>
      <span class="number">02</span>
      <div>
        <h4>主耶稣基督是 神的独生子，道成肉身，从圣灵成孕，为童贞女马利亚所生，祂被钉死在十字架上，流血为人赎罪，被埋葬，身体复活升天，将来要在荣耀与权能中亲自再临地上（赛七14；太一20~23；路一 35；约一1~4，14；十四1~3；徒二22~24；32~36；罗五8；林前 十五 3~8；林後 五 21; 多 二 14; 来 九 12~15; 彼前 二 21~25；约壹 二 2）。
        </h4>
      </div>
    </li>
    <li>
      <span class="number">03</span>
      <div>
        <h4> 圣灵是三一真神的第三位，住在信徒心内为保惠师，永远为基督作见证（约三3~7；十六 7~13；罗八1~14,26~27；林前 六 19~20；十二 3；弗五17~21；帖前五19；帖後二13）。
        </h4>
      </div>
    </li>
    <li>
      <span class="number">04</span>
      <div>
        <h4> 圣经全部新旧约共六十六卷，原文都是 神所默示的，所以是完全可信，必无错误，其中心为主耶稣基督，是基督徒信仰与生活的最高准则（太五18；林前二13；提後三16~17；彼後一21）
        </h4>
      </div>
    </li>
    <li>
      <span class="number">05</span>
      <div>
        <h4> 人原是 神照自己形像造的，因悖逆 神而死在罪恶过犯之中，落在魔鬼的权势之下，人的救赎是单单藉着 神的恩典与耶稣基督的宝血所作成，人必须信靠主耶稣，藉着圣灵重生，方能得救享永生（创一26~27；二7；三13，16~17；约一12~13；罗三10~12,23；林後五17; 弗一 3~8；弗二8~9）。
        </h4>
      </div>
    </li>
    <li>
      <span class="number">06</span>
      <div>
        <h4> 基督是教会的元首，教会是基督的身体，包括所有重生得救的信徒，其使命为见证耶稣基督，完成祂的托付，传扬福音直到地极（太十六15~18；太二十八19~20；徒 一 8；二 41~42，47；弗一20~23；二19~22；五23~24; 西一18）。
        </h4>
      </div>
    </li>
    <li>
      <span class="number">07</span>
      <div>
        <h4> 浸礼与守圣餐聚会为圣经所教导的两大圣礼，全教会应共同遵守（太二十六26~28；二十八19；可十四22~24；十六16；徒二38；罗六3~4；林前十 23~26; 弗四5）。
        </h4>
      </div>
    </li>
    <li>
      <span class="number">08</span>
      <div>
        <h4> 教会被提与耶稣基督的再来，是信徒所信所望的，教会被提时在基督里睡了的人，必复活，活着的基督徒必改变，在空中与主相会，永远与主同在（太六10，13；十六27~28；约五24~29；徒一10~11；林前十五52~54；腓三20~21；帖前四16-18; 多二13）。
        </h4>
      </div>
    </li>   </ul>
</section><!--#faqs-->
