<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center gap">
          <h2><%= I18n.t('header.schedule') %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-6 col-md-offset-2">
        <div class="media">
          <div class="pull-left">
            <i class="icon-fire icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">主日崇拜</h3>
            <h4 class="icon-time">&nbsp;主日上午9:30-11:00</h4>

            <p>成人中文崇拜，青少年College英文崇拜，兒童崇拜</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
      <div class="col-md-5 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-book icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">主日学</h3>
            <h4 class="icon-time">&nbsp;主日上午11:15-12:15</h4>

            <p>慕道班，基要真理班，新約，舊約</p>

            <p>12:30PM 教會備有午餐</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
    </div>
    <!--/.row-->
    <div class="gap"></div>
    <div class="row">
      <div class="col-md-5 col-sm-6 col-md-offset-2">
        <div class="media">
          <div class="pull-left">
            <i class="icon-group icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">週五團契 </h3>
            <h4 class="icon-time">&nbsp;每週五晚7:30-9:15</h4>
            <p>學前班，兒童，青少年，學生，家庭及訪問學者團契</p>
            <p>6:30PM 教會備有晚餐</p>
            <p>每月第一個星期五有慶生會!</p>
            <p>5:30-6:30PM 免費英文口語班 - 美國老師授課</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-heart icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">週三禱告會</h3>
            <h4 class="icon-time">&nbsp;晚7:00-8:00</h4>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
    </div>
    <!--/.row-->
    <hr>
  </div>
</section><!--/#services-->