<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center gap">
          <h2><%= I18n.t('header.schedule') %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-windows icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">主日崇拜 上午9:30-11:00 </h3>

            <p>成人中文崇拜，青少年College英文崇拜，兒童崇拜</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-android icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">主日学 上午11:15-12:15</h3>

            <p>慕道班，基要真理班，新約，舊約</p>

            <p>12:30 教會備有午餐</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-apple icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">週三禱告會 晚7:00-8:00</h3>

            <p></p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
    </div>
    <!--/.row-->
    <div class="gap"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-linux icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">週五團契 晚7:30-9:15</h3>

            <p>有學前，兒童，青少年，學生，家庭及訪問學者團契</p>
            <p>6:30 教會備有晚餐</p>
            <p>每月第一個星期五有慶生會!</p>
            <p>5:30-6:30 免費英文課</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-dribbble icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading"></h3>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
              tortor quam, feugiat vitae.</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class="icon-google-plus icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">SEO Services</h3>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
              tortor quam, feugiat vitae.</p>
          </div>
        </div>
      </div>
      <!--/.col-md-4-->
    </div>
    <!--/.row-->
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="center">
          <h2>What our clients say</h2>

          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="gap"></div>
        <div class="row">
          <div class="col-md-6">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
          </div>
          <div class="col-md-6">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#services-->