<section id="about-us" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 >青少年及英文College事工</h2>
      <div class="gap"></div>
      <p class="lead center">Jesus said, “Let the little children come to me…” (Matthew 19:14)</p>

      <p class="lead center">He welcomed them; loved and blessed them! </p>

      <p>At TCCC, we welcome, love and bless all the children and youth who enter our doors. We have a team of dedicated
        teachers and helpers who share God’s vision and united effort in teaching and training children and youth in the
        way that they should go. All of our curriculum is Bible based, solid Christian teaching that points the children
        and youth to the Savior! Come, join us on a Sunday morning and/or Friday night. There’s a class for all ages.
        You would be most welcome to fellowship and learn with us! </p>
    </div>
    <div class="col-sm-4">
      <%=image_tag '/images/y-c-home.png' %>
    </div>
  </div>
  <!--/.row-->

  <%= partial('related_news', :locals => {:articles => blog.tags['youth']}) if blog.tags['youth'] %>

  <div class="gap"></div>

</section><!--/#about-us-->

